[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"



[packages]
flask="*"
numpy="*"
keras="*"
cv2="*"
sklearn="*"
matplotlib="*"
Pillow="*"
python-resize-image="*"
python-opencv="*"

[requires]
python_full_version = "2.7.15"
