<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Character Recognizer</title>
<style>
.b{
padding: 12px 28px;
border-radius: 12px;
font-size: 16px;
text-align: center;
cursor: pointer;
margin: 5px;
}

.b:hover
{
background-color: #10779B
}

</style>
</head>
<body>
<p style="text-align:center;color:#900C3F;font-size:40px"><b><u><i>Character Recognizer</u></i></b></p>

<p style="margin-left:3%;">The character recognizer detects the alphanumeric characters present in an image.<br> I have used the vgg19 model to train my data set as it gives good results for image classification problems. <p>

<div align="center">
<h3 > Model </h3>
<img src="/static/vgg19.jpg" width=40% alt="model"></img>
<p> This network is characterized by its simplicity, using only 3×3 convolutional layers stacked on top of each other in increasing depth. Reducing volume size is handled by max pooling. Two fully-connected layers, each with 4,096 nodes are then followed by a softmax classifier (above).
</p>
<br><br>
</div>

<h2> Some of the tested images </h2>

<div align="center">
 <img src="/static/op1.png" alt="" width=32% align="right" style="float:right"/>
 <img src="/static/op2.png" alt="" width=32% align="left" style="float:left" />
 <div id="content" align="center"> 
     <img src="/static/op3.png" alt="" width=32% align="center" />
 </div>
</div>

<br><br><br><br>

<h1 style="text-align:center;color:#900C3F;"> Try it out </h1>
<form id="upload-form"style="text-align:center;" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" >
  <input type="file" style="font-size:16px;"name="file" accept="image/*" multiple/>
  <input type="submit" class=b value="Send"/>
</form>
</body>
</html>
